*{
  margin:0px;
  padding:0px;
}

body{
  display: flex;
  padding-top: 32px;
  justify-content: center;
  background: #1C398E;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #cacbdc;
}

input{
  padding: 0px 40px;
  margin-right:20px;
  font-size: 18px;
  width: 823px;
  border: 1.111px solid #E5E7EB;
}

input,button{
  height: 47px;
  border-radius: 8px;
}

.conteiner{
  display:flex;
  align-items: center;
  flex-direction: column;
}

.result{
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 3s ease;
}

.control,.result{
  display: flex;
  align-items: center;
  padding:23px;
  background:#fff;
  border-radius: 14px;
}

nav,.result,.conteiner{
   width:1083px;
}

nav{
  display:flex;
  margin-bottom: 32px;
}

.search__link{
  color: #155DFC;
  transition: 0.7s ease;
}

.search__link:hover{
  font-size: 23px;
  color: #155DFC;
}

.result:hover{
  width:1094px;
  height:23px;
}

.result:hover>.search__link{
  font-size: 29px;
}

.link{
  margin-left:10px
}

button {
  border: 1px solid transparent;
  padding: 8px 32px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  background-color: #155DFC;
  cursor: pointer;
  transition: border-color 0.25s;
  width:112px;
  color: #fff;
}

button:hover {
  background-color: #1255e4;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
